:root {
  --terminal-bg: #202020;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(60,60,60);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  color: rgb(57, 211, 250);
  text-decoration: none;
}

#desktop {
  align-items: center;
  background: rgb(72, 72, 72);
  background: url(../assets/images/desktop-bg.jpeg) 50% 50% / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  position: relative;
  touch-action: none;
  user-select: none;
}

.last-clicked {
  z-index: 1000;
}

.panel {
  position: absolute;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.2rem 2.1rem rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
}

.panel:hover,
.panel:active {
  overflow: hidden;
  resize: both;
}

.panel-header {
  background: #f8f8f8;
  background: linear-gradient(#f5f5f5, #c5c5c5);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.4rem;
  display: flex;
}

.panel.full-screen {
  border-radius: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.panel.full-screen .panel-header {
  border-radius: 0 !important;
}

#terminal {
  background: var(--terminal-bg);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", "Courier";
  height: 22.5rem;
  width: 38rem;
  touch-action: none;
  user-select: none;
  left: 10%;
  top: 8%;
  word-break: break-all;
  z-index: 2;
}

#terminal p {
  font-size: 3.2rem;
}

#terminal .command {
  font-size: 1.5rem;
}

p.command::before {
  content: '$';
  margin-right: 1.2rem;
}

#terminal-body {
  flex: 1;
  padding: 1rem;
}

p {
  margin: 0;
}

p.active::after {
  content: '|';
  opacity: 1;
  font-weight: 100;
  position: relative;
  top: -0.2rem;
  left: -0.8rem;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#ls, #my-name, #my-contact, #blank {
  display: none;
}

.buttons {
  align-items: center;
  flex-direction: row;
  display: flex;
  margin-right: 0.5rem;
  position: relative;
}

.panel-button {
  border-radius: 50%;
  line-height: 0;
  margin-right: 0.4rem;
  height: 0.75rem;
  width: 0.75rem;
}

.panel-button.red {
  background: #f96256;
  border: 1px solid #f65549;
}

.panel-button::after {
  color: rgba(0,0,0,0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  position: relative;
  visibility: hidden;
  top: -5px;
  left: 2px;
}

.panel-button.red::after {
  content: '\00d7';
}

.panel-button.yellow::after {
  content: '\2013';
  top: -6px;
}

.panel-button.green::after {
  content: '+';
}

#chrome .panel-button::after {
  top: 4px;
  left: 1.4px;
}

#chrome .panel-button.yellow::after {
  top: 3px;
  left: 2.1px;
}

.buttons:hover .panel-button::after {
  visibility: visible;
}

.panel-button.yellow {
  background: #fdbc3d;
  border: 1px solid #ffb524;
}

.panel-button.green {
  background: #33c948;
  border: 1px solid #2dbb41;
}

.panel-body {
  flex: 1;
}

iframe {
  width: 100%;
  height: 100%;
}

#chrome {
  background: #fff;
  display: none;
  height: 600px;
  width: 600px;
}

#chrome-header {
  padding: 0 0 0 0.4rem;
}

.tabs {
  display: flex;
  padding-top: 0.4rem;
}

.tab-title {
  border-left: 1px solid rgba(0,0,0,0.3);
  padding: 0 0.75rem;
}

.tab {
  cursor: pointer;
  padding: 0.4rem 0;
  -webkit-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}

.tab:first-of-type .tab-title,
.tab:first-of-type:hover .tab-title {
  border-left: 1px solid rgba(0,0,0,0);
}

.tab:last-of-type .tab-title {
  border-right: 1px solid rgba(0,0,0,0.3);
}

.tab:hover {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  cursor: pointer;
}

.tab:hover .tab-title {
  border-left: 1px solid rgba(0,0,0,0);
}

.tab.active {
  background: #fff !important;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}

.tab.active .tab-title {
  border-left: 1px solid rgba(0,0,0,0);
}

.tab.active + .tab .tab-title,
.tab:hover + .tab .tab-title {
  border-left: 1px solid rgba(0,0,0,0);
}

.tab:last-of-type.active .tab-title,
.tab:last-of-type:hover .tab-title {
  border-right: 1px solid rgba(0,0,0,0);;
}

.tab:hover {
  background: rgb(239, 239, 239);
}

.windows {
  display: flex;
  flex: 1;
}

.window {
  display: none;
  flex: 1;
}

.window.active {
  display: flex;
}

#dock {
  align-items: center;
  background-color: rgba(235,235,235,0.7);
  padding: 0.5rem 0 0.5rem 0.8rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.25);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 2000;
}

#dock > div {
  position: relative;
}

.dock-title {
  border-radius: 0.3rem;
  background-color: rgba(215,215,215,1);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.25);
  padding: 0.25rem 0.9rem;
  position: absolute;
  top: -3.4rem;
  visibility: hidden;
}

.dock-title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.4rem;
  width: 0;
  height: 0;
  border-top: solid 0.4rem rgba(215,215,215,1);
  border-left: solid 0.4rem transparent;
  border-right: solid 0.4rem transparent;
}

#dock > div:hover .dock-title {
  visibility: visible;
}

#dock div:first-of-type .dock-title {
  right: 0.2rem;
}

#dock div:nth-of-type(2) .dock-title {
  top: -3.15rem;
  right: -0.1rem;
}

#dock div:nth-of-type(3) .dock-title {
  top: -3.3rem;
  right: -0.1rem;
}

#dock div:last-of-type .dock-title {
  top: -3.15rem;
}

#dock img {
  max-width: 4.5rem;
}

#dock img:hover {
  cursor: pointer;
}

#dock div img {
  margin-right: 0.4rem;
}

#contact {
  margin-right: 0.8rem;
}

#work img {
  width: 4.5rem;
}

#about img {
  width: 4rem;
}

#contact img {
  width: 4.2rem;
}

#trash {
  border-left: 1px solid #868686;
  padding-left: 0.4rem;
}

@media only screen and (max-width: 568px)  {

}