/*
 * FONTS
 */

@font-face {
 font-family: 'Lato';
 src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'LatoLight';
  src: url('../assets/fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'LatoBold';
  src: url('../assets/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

/*
 * VARIABLES
 */

:root {
  --primary-color: #1B1B1B;
  --secondary-color: #636363;
  --github: black;
  --resume: #4CAF50;
  --contact: #FF5722;
  --work: #607D8B
}



body {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  font-family: Lato;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#content {
  max-width: 580px;
  overflow: hidden;
  position: relative;
  right: 0;
  width: 70%;
  -webkit-transition: right 0.2s ease-in;
  -moz-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
}

h1 {
  color: var(--secondary-color);
  font-family: LatoLight;
  font-size: 1.7em;
  margin: 0;
}

h2 {
  border-bottom: solid 3px #019fb6;
  color: var(--primary-color);
  font-family: Montserrat;
  font-size: 2.1em;
  margin: 0 0 0.2em;
  padding: 0 3em 0.1em 0;
}

h3 {
  margin: 0 0 0.1em;
  font-family: Montserrat;
  font-size: 1.75em;
}

p {
  margin: 0;
}

ul {
  padding-left: 1em;
}

li {
  list-style-type: none;
  padding: 0 1em 0 0;
  position: relative;
  -webkit-transition: padding 0.1s ease-in-out;
  -moz-transition: padding 0.1s ease-in-out;
  transition: padding 0.1s ease-in-out;
  width: 87%;
}

li:hover {
  cursor: pointer;
  padding: 0 0 0 1em;
}

li::after {
  content: '';
  display: block;
  border-bottom: solid 3px #019fb6;
  position: relative;
  left: 2.8em;
  transform: scaleX(0);
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transform-origin: 0% 50%;
}

#github::after {
  border-color: var(--github);
}

#resume::after {
  border-color: var(--resume);
  left: 3em;
}

#contact::after {
  border-color: var(--contact);
}

#work::after {
  border-color: var(--work);
}

li:hover::after {
  transform: scaleX(1);
}

li a {
  display: flex;
  height: 100%;
  padding: 1.5em 0 0.5em;
}

li:first-of-type a {
  padding-top: 1em;
}

i.fa {
  font-size: 2.5em;
  margin-right: 0.3em;
  position: relative;
  top: 0.1em;
}

i.fa-github {
  color: var(--github);
}

i.fa-arrow-circle-down {
  color: var(--resume);
}

i.fa-user-circle {
  color: var(--contact);
  font-size: 2.143em;
}

i.fa-cog {
  color: var(--work);
  -webkit-transition: transform 5s ease-in-out;
  -moz-transition: transform 5s ease-in-out;
  transition: transform 5s ease-in-out;
}

.nav-header {
  color: var(--primary-color);
  font-family: LatoBold;
  font-size: 1.3em;
}

.nav-content {
  color: var(--secondary-color);
  font-family: LatoLight;
}

/*
 * WORK
 */

#work-content {
  left: 100%;
  overflow: scroll;
  padding: 0 0 5em;
  position: absolute;
  height: 100vh;
  width: 100vw;
  -webkit-transition: left 0.2s ease-in;
  -moz-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
}

#work-portfolio {
  margin: 0 auto;
  max-width: 760px;
  padding-top: 6em;
}

#return-home {
  cursor: pointer;
  padding: 0.5em;
  position: absolute;
  top: 6%;
  left: 2%;
}

.arrow {
  display: inline-block;
  color: black;
  cursor: pointer;
  box-sizing: border-box;
  width: 18px;
  height: 20px;
  border-width: 4px 4px 0 0;
  border-style: solid;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.arrow:after,
.arrow:before {
  content: "";
  border-radius: 2px;
  position: absolute;
}

.arrow:before {
  right: 0;
  top: -3px;
  width: 23px;
  height: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  box-shadow: inset 0 0 0 32px;
}

.arrow:after {
  width: 4px;
  height: 4px;
  left: -2px;
  top: -4px;
  box-shadow: inset 0 0 0 32px, 16px 17px;
}

.project {
  align-items: flex-start;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  display: flex;
  padding: 3em 2em 4em;
}

.project:last-of-type {
  border-bottom: none;
}

.project a {
  color: #0096cc;
  display: block;
  font-size: 0.85em;
  margin-bottom: 2em;
}

.project-img {
  flex: 1 1 40%;
  text-align: center;
}

.project-img img {
  width: 12em;
}

.project-details {
  flex: 1 1 60%;
  padding: 0 2em;
}

.project-details p {
  font-family: LatoLight;
  line-height: 1.5;
}